@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.circle {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 120px;
  height: 120px;
  color: var(--color-quartenary);
  transform-origin: center center;
  opacity: .9;
  z-index: 200;

  .inner {
    transform-origin: center center;
    animation: rotate 8s linear infinite;
  }
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--color-tertiary);
  transform-origin: 0%;
  z-index: 200;
}