.screenshot {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;

  .inner {
    position: absolute;
    top: -60px;
    left: -60px;
    width: calc(100% + 120px);
    height: calc(100% + 120px);
  }
}