@import "./reset";

:root {
  --brand-light: #1f0322;
  --brand-dark: #752a67;
  --brand-accent: #8dc134;

  --site-bg: var(--brand-light);

  --color-primary: #a6c33f;
  --color-secondary: #2dbb82;
  --color-tertiary: #46945f;
  --color-quartenary: #6cf2ce;
  --color-quinary: #d6efef;
  --color-white: #fdfdfd;

  --text-primary: var(--color-primary);
  --text-secondary: var(--color-secondary);
  --text-tertiary: #bd81de;
  --text-blue: #9495ea;

  --link-blue: #6185e8;
}

html,
body {
  font-family: monospace;
  font-size: 18px;
  background: var(--site-bg);
  color: var(--text-primary);
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

small {
  font-size: 0.8rem;
  opacity: 0.8;
}

h1,
h2,
h3 {
  font-family: var(--font-poppins);
}

a,
a:visited {
  color: var(--link-blue);
}
